/*Created by David Winget (usma94@gmail.com) */
/*Purpose: The purpose of this style sheet is to provide the style for my introduction main page. */
/*I used the https://www.w3schools.com/css/ website to get a description of each CSS selector used and see an example of its use. */
/*I took the .clearfix and *boxsizing code lines from the https://www.w3schools.com/css/css_float.asp website to help align my elements correctly. */

/* ----------global ---------- */
* {box-sizing: border-box}
.float_left {float: left; padding: 1em}
.float_right {float: right; padding: 1em}
.clearfix::after {content: ""; clear: both; display: table}
h1 {font-size: 2.5em;line-height: 0.5em; color: limegreen}
h2 {font-size: 1.1em;line-height: 0.5em; color: yellow}
p {font-size: 0.95em;line-height: 1.2em; color: white}
ul {list-style-type:none; background-color:#524F4F; color:black; border:1px solid yellow; overflow:hidden; margin:0; padding:0;}
li {float:left}
li a {display: block; color: black; text-align:center; border: 1px solid yellow}
li:last-child {display: block; color: black; text-align:center; border-right: none} 
li a:hover {background-color: black; color: white}
a:link {color: white}
a:hover {color: lightcoral;outline:0}
a:active{outline:0}
a:visited {color: yellow}
html{font-family:helvetica;-ms-text-size-adjust:100%;background-color:black;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}

/* ----------header ---------- */
.header_style {text-align:center; background-color: black; padding: 15px}
.pics {font-size:2em; color:yellow; text-align:center}
.img_circle {border-radius: 50%; display:inline-block}
.img_arrow {display:inline-block; vertical-align: center}
.row {background-color:black; height:4em}
.navibarbackgrnd {font-size:1em;text-align:center; background-color:black}
.namebackgrd {height:1.1em;line-height:1.1em;font-size:1em}
.blackbgrd {background-color:black}
#navibar {vertical-align: center;font-size: 1em;text-align:center; background-color:black}
#fullname {background-color:black; height:1.1em; color:green;text-align:center}

/* ----------biography ---------- */
.biography_style {background-color:black; width: 70%; padding-left:3em; padding-right:3em}
.paragraph {background-color:black; color:white; font-size: 1.0em}
.subtitle {background-color:black; color:yellow; font-size: 1.2em}
#about_me {background-color:black; color:yellow; font-size: 1.5em; text-align: center}
#intro_video {background-color:black; width: 30%; padding-top: 5.5em}

/* ----------footer ---------- */
.footer_style {background-color: black; color:yellow}

/* ----------contact ---------- */
.contact {background-color: black; height: 8em}
.contact_image {vertical-align: middle; width: 100%}
.contacttext {font-size:1em;color:yellow;text-align:center}
.formtext {color:yellow}
#contact_me {color:yellow; font-size: 1.3em; text-align: center}

/* ----------math ---------- */
.math {background-color: black; color:white}
.math_image {vertical-align: middle}
.mathbackgrd {Height:33em;background-color:black}
#math_tricks {color:yellow; font-size: 1.3em; text-align: center}